@charset "utf-8";
*{margin: 0; padding: 0; font-family: 'Barlow', sans-serif; font-family: 'S-CoreDream-3Light';}
ul{list-style: none;}
a{color: #000; text-decoration: none;}
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body::-webkit-scrollbar{
  width: 11px;
}
body::-webkit-scrollbar-thumb{
  height: 30%;
  background-color: #000;
  /* border-radius: 10px; */
}
body::-webkit-scrollbar-track{
  background: rgba(0,0,0,0.2);
}
html, body{
  background: url(/images/bgi.png) no-repeat center ;
  background-size: cover;
}

/* [헤더] */
.header{
  max-width: 73%;
  margin: 0 auto;
  height: 10%;
}

.header .header-wrap{
  width: 100%;
  display: flex;
}

.header .header-wrap .logo{
  flex-basis: 10%;
  text-align: center;
  padding-top: 1.875rem;
}
.header .header-wrap .nav{
  flex-basis: 90%;
}
.header .header-wrap .nav ul{
  display: flex;
  justify-content: space-between;
  width: 67%;
  margin-left: 18.75rem;
  height: 8.125rem;
  top: 0;
}
.header .header-wrap .nav ul li:nth-child(3){
  height: 8.125rem;
  border-left: 0.094rem solid #000;
}
.header .header-wrap .nav ul li{
  height: 6.25rem;
  line-height: 6.25rem;
  border-left: 0.063rem solid #9fa0a0;
}
.header .header-wrap .nav ul li:nth-child(3) a{
  font-size: 1.75rem;
  font-family: 'Barlow';
  font-weight: 400;
  color: #000;
}
.header .header-wrap .nav ul li a{
  padding-left: 0.625rem;
  font-size: 1.375rem;
  font-family: 'Barlow';
  font-weight: 300;
  color: #9fa0a0;
}

.container{
  width: 100%;
  margin: 0 auto;
}
.container .menu{
  max-width: 73%;
  margin: 0 auto;
  text-align: center;
  padding: 100px;
}
.container .menu ul li{
  display: inline-block;
  border: 2px solid rgba(211, 193, 171, 0.42);
  padding: 0.4% 2%;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 50px;
}
.container .menu ul li a{
  font-family: 'Barlow';
  color: #3e3a39;
  font-size: 1.25rem;
  font-weight: 400;
  transition: 0.3s;
}
.container .menu ul li:hover,
.container .menu ul li.on{
  background-color: #d2c0aa;
}
.container .menu ul li:hover a,
.container .menu ul li.on a{
  color: #fff;
}

.container .list{
  max-width: 73%;
  margin: 0 auto;
}
.container .list .list-wrap{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  column-gap: 20px;
}
.container .list .list-wrap .item{
  width: 32%;
  border: 1px solid #ddd; 
  padding: 25px 25px 20px 25px; 
  box-sizing: border-box; 
  margin-right: 10px;
  box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.2); 
  margin-bottom: 30px;
  background-color: #efefef;
}

.container .list .list-wrap .item .item_photo{
  width: 100%;
  overflow: hidden;
  font-size: 0;
}
.container .list .list-wrap .item .item_photo img{
  width: 100%;
  transition: 0.3s;
}
.container .list .list-wrap .item:hover .item_photo img{
  transform: scale(1.1);
}
.container .list .list-wrap .item .item_desc{
  width: 98%;
  margin: 0 auto;
  display: flex;
  line-height: 20px;
  padding-top: 10px;
}
.container .list .list-wrap .item .item_desc .title{
  width: 30%;
}
.container .list .list-wrap .item .item_desc .desc{
  width: 70%;
}
.container .list .list-wrap .item .item_desc .title li,
.container .list .list-wrap .item .item_desc .desc li{
  font-size: 1rem;
  font-family: 'Barlow';
  color: #3e3a39;
  font-weight: 420;
}
.container .list .list-wrap .item .item_desc .desc li p{
  font-family: 'S-CoreDream-3Light';
  font-size: 0.9rem;
  font-weight: bold;
}





/* 모달창 */
.window{position: fixed; z-index: 120; width: 100%; height: 100%; background-color: rgba(0,0,0,0.4); top: 0; left: 0; display: none;}
.window-content{width: 60%; position: fixed; height: 100%; background-color: #fff; top: 0; z-index: 999; left: 50%; transform: translateX(-50%); overflow-y: scroll; display: none;}
.window-content i{font-size: 2vw; cursor: pointer; position: absolute; right: 30px; top: 20px; color: #9fa0a0;}
.window-content img{width: 100%;}



/* [up arrow icon] */
.aside{
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  border: 1px solid #ddd;
  background-color: rgba(211, 193, 171, 0.42);
  /* border-radius: 50%; */
  cursor: pointer;
  z-index: 4;
  visibility: hidden;
  opacity:0;
  transition: 0.3s;
  text-align: center;
  line-height: 50px;
}
.aside.on{
  visibility: visible;
  opacity: 1;
}
.aside img{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.aside:hover{
  background-color:  #d2c0aa;
}
